.idea
node_modules
.sass-cache
*.thumb
npm-debug.log
docs/CDE-ACF/final/*.html

docs/CDE-ACF/final/_layouts/abbeyscale\.html

docs/CDE-ACF/final/_layouts/continence\.html

docs/CDE-ACF/final/common/footer\.html
