.idea
node_modules
.sass-cache
*.thumb
npm-debug.log
*.code-workspace
docs/WHV/prototype/short_course_4/short-course-4-building-stakeholder-support-for-gender-equity-work-scorm12-O5l_LYsI/scormcontent/assets/fn22TxBKEBA2RwTh_FG2qV0vJMPnEwyVW-building-20-support-20-for-20-gender-20-equality-20-work.pdf
docs/WHV/prototype/short_course_6/short-course-6-gender-and-disability-scorm12-HbGsyKl8/scormcontent/assets/Oz-ONUdhdl_Y0jtu_O5ll4E5ZD9SN0kq6-ideas-20-for-20-taking-20-action-20-on-20-gender-20-and-20-disability-20-equity-20-handout.pdf
