//footer
#footer
    .container-fluid
        .row    
            .col
                //span footer
//Footer scripts, delete as required

script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery-ui.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
script(src="js/script.js")    
script(src="js/save_localstorage.js")    
script(src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js")  
script(src="https://unpkg.com/jspdf-autotable@3.1.3/dist/jspdf.plugin.autotable.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js") 
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js")
//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
//- script(src="js/bootstrap-multiselect.js")

footer Copyright @ ACME 2019 All right reserved. Address: Building 11, 127 Latrobe Street, Melbourne. Email:support@acmecompany.com.au. Tel:+61 03 568 9746