// Nav

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='foodrecord.html')
          | Food & Fluid 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Sleeping Chart
      li.nav-item
        a.nav-link(href='continence.html') Continence
      li.nav-item
        a.nav-link(href='#') ADLS
<<<<<<< HEAD
=======
br
>>>>>>> 3027569b14d2c5246abf7e06a9c50001aa7a32b0
