// Nav

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='foodrecord.html')
          | Food & Fluid 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='personalcare.html') Personal Care
      li.nav-item
        a.nav-link(href='continence.html') Continence
      li.nav-item
<<<<<<< HEAD
        a.nav-link(href='#') Abbey Scale
br
=======
        a.nav-link(href='#') ADLS
        
>>>>>>> 1ee626459bd1829e18510f342d1653781c30cc6b
