.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    legend Pain Abbey Scale
    #reset
     table#tablePreviewAbbey.table.table-striped.table-hover
      thead
        tr
          th Date
          th Time
          th Location
          th Verbal/Non Verbal
          th Comments
          //- th xxxx
          //- th xxxxx
          //- th Role
      tbody#tableToModify2
        tr#rowToClone2
          td
            input.abbeyscale.form-control.form-control-sm(type='date', placeholder='yyyy/mm/dd',min="1990-01-01", max="2040-12-31")
          td
            input#time.abbeyscale.form-control.form-control-sm(type='text',pattern="\d{1,2}:\d{1,2}" name='time' placeholder='hh:mm',min='00:00',max='23:00',required="required")
          td
            select.abbeyscale.form-control-sm
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='Generalised') Generalised
                option(value='Head') Head
                option(value='Upper torso') Upper torso
                option(value='Lower torso') Lower torso
                option(value='Right arm') Right arm
                option(value='Left arm') Left arm
                option(value='Right leg') Right leg
                option(value='Left leg') Left leg
          td
            select.abbeyscale.form-control-sm
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='Verbal') Verbal
                 option(value='Non Verbal') Non Verbal
                
          td
            textarea.abbeyscale(name='story',rows="3",cols='10')
          //- td
          //-   select.abbeyscale.form-control-sm
          //-       option(disabled='',selected='', value='')  -- select an option -- 
          //-       option(value='None') None
                
          //- td
          //-   select.testselect3.abbeyscale.SelectBoox(multiple=' ',name='test[]')
          //-       option(value='Shower') Shower
          //-       option(value='Wash') Wash
          //-       option(value='Half') Half
          //-       option(value='Three quarter') Three quarter
          //-       option(value='Full') Full
          //- td
          //-   select.testselect3.abbeyscale.SelectBoox(multiple=' ',name='test[]')
          //-       option(value='None') 1
          //-       option(value='2') 2
          //-       option(value='3') 3
                
         
          //- td
          //-   input.abbeyscale.form-control.form-control-sm(type='text',name='role' value='PCA')     
    #abb
    p
    | #[strong Vocalisation] 
    br
    | (e.g whimpering,groaning,crying)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[1]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
    p
    | #[strong Physiological Change] 
    br
    | (e.g temperature pulse or blood pressure outside normal limits,perspiring,flushing or pallor)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[2]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
          
    p
    | #[strong Physical Change] 
    br
    | (e.g skin tears,pressure areas,arthritis,contractures,previous injuries)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[3]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3

    p
    |  #[strong Facial Expression]
    br
    | (e.g looking tense,frowning,grimacing,looking frightened)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[4]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3

    p
    | #[strong Change in body language]
    br
    | (e.g fidgeting,rocking,guarding part of body,withdrawn)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[5]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
    p
    | #[strong Behavioural change]
    br
    | (e.g fidgeincreased confusion,refusing to eat,alteration in usual patterns)
    br
    | Absent:0, Mild:1, Moderate:2, Severe 3
    br
    select.abbeyscale.form-control-sm(name='score[6]')
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='0') 0
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3

    br
    br
    | #[strong Total Pain Score] 
    input#total.abbeyscale.form-control-sm(type='text',maxlength='4',size='4',name='total')

    .row.pt-4.position-inherit.float-right
      a.btn.btn.btn-sm.btn-primary.mr-2(href='patientrecord.html')  Back
      a.btn.btn.btn-sm.btn-primary.mr-2(onclick='pdfAbbey()')  Print PDF
          //-a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries
          //- input(type='button', onclick='tableToJson()', value='Submit Entries')
      //- input.btn.btn.btn-sm.btn-primary.mr-2(type='button', onclick='addRowAbbey()', value='Add Row')
