head  
  script.
   if(sessionStorage.getItem('authState')=== null){
     window.location.href= "login.html"
   } else exit()

.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    legend Food and Fluids record 
    
    
     table(role='table')#tablePreview.table.table-striped.table-hover
      thead(role='rowgroup')
        tr(role='row')
          th.w-15(role='columnheader') Date
            i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Select the large triangle to open the calendar and use today’s date.')
          th.w-10(role='columnheader') Time
            i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Enter the hours or minutes input (HH:MM) ')
          th(role='columnheader') Food item
            i.fas.fa-question-circle.btn( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='List all the food items offered and specify items the resident did not eat.')
          th(role='columnheader') Amount taken
            i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='The amount eaten of the total amount of food offered')
          th(role='columnheader') Time taken
            i.fas.fa-question-circle.btn( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='How long it took to eat the amount of food they finally consumed.')
          th(role='columnheader') Role
            i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='This uses your login details to fill automatically ')

      tbody.food#tableToModify
        tr(role='row')#rowToClone
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='date', placeholder='yyyy/mm/dd',min="1990-01-01", max="2040-12-31")
          td(role='cell')
            input#time.foodrecord.form-control.form-control-sm(type='text',pattern="\d{1,2}:\d{1,2}",maxlength="5", name='time' placeholder='HH:MM',min='00:00',max='23:59',required="required")
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='text', placeholder='Enter Food Item here')
          td(role='cell')
            select#amountTaken.foodrecord.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='') Select 
                option(value='None') None
                option(value='Quarter') Quarter
                option(value='Half') Half
                option(value='Three quarter') Three quarter
                option(value='Full') Full
            //-   #amountTaken.foodrecord.form-control-sm
          td(role='cell')
            select#timeTaken.foodrecord.align-top.continOption.contrecord.form-control-sm.form-control.d-inline
                option(disabled='',selected='', value='') Select 
                option(value='00:00') 00:00
                option(value='00:15') 00:15
                option(value='00:30') 00:30
                option(value='00:45') 00:45
                option(value='01:00') 01:00
                option(value='01:15') 01:15
                option(value='01:30') 01:30
                option(value='01:45') 01:45
                option(value='02:00') 02:00
           
            //-  #timeTaken.foodrecord.form-control-sm
            
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='text',name='role' value='PCA')     
            
    a.btn.btn.btn-sm.btn-primary.mr-2(href='patientrecord.html')  Back
    i.fas.fa-question-circle.btn.btn-sm(  data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='go back to the Patient document page')
    a.btn.btn.btn-sm.btn-primary.mr-2(onclick='checkInput()')  Download to PDF
    i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover",data-trigger="hover",data-placement="top",data-content='Prints the information you recorded into a document')
    //a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries
    //a#submit.btn.btn.btn-sm.btn-primary Submit Entries
    //input(type='button', onclick='tableToJson()', value='Submit Entries')
    input.btn.btn.btn-sm.btn-primary.mr-2(type='button', onclick='addRow()', value='Add row')
    //- span.d-inline-block(tabindex='0' data-toggle='tooltip' title='Creates another row if you are recording more than one meal')
    i.fas.fa-question-circle.btn.btn-sm( data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Creates another row if you are recording more than one meal")
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Error message
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Please enter all the fields correctly
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close

