.content.position-relative
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    legend Food and Fluids record 
    #reset
     table(role='table')#tablePreview.table.table-striped.table-hover
      thead(role='rowgroup')
        tr(role='row')
          th(role='columnheader') Date
          th(role='columnheader') Time
          th(role='columnheader') Food Item
          th(role='columnheader') Amount Taken
          th(role='columnheader') Time Taken
          th(role='columnheader') Role
      tbody.food#tableToModify
        tr(role='row')#rowToClone
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='date', placeholder='yyyy/mm/dd',min="1990-01-01", max="2040-12-31")
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='time', placeholder='hh:mm')
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='text', placeholder='Enter Food Item here')
          td(role='cell')
            select#amountTaken.foodrecord.form-control-sm
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='None') None
                option(value='Quarter') Quarter
                option(value='Half') Half
                option(value='Three quarter') Three quarter
                option(value='Full') Full
            //-   #amountTaken.foodrecord.form-control-sm
          td(role='cell')
            select#timeTaken.foodrecord.form-control-sm
                option(disabled='',selected='', value='')  -- select an option -- 
                option(value='00:00') 00:00
                option(value='00:15') 00:15
                option(value='00:30') 00:30
                option(value='00:45') 00:45
                option(value='01:00') 01:00
                option(value='01:15') 01:15
                option(value='01:30') 01:30
                option(value='01:45') 01:45
                option(value='02:00') 02:00
           
            //-  #timeTaken.foodrecord.form-control-sm
            
          td(role='cell')
            input.foodrecord.form-control.form-control-sm(type='text',name='role' value='PCA')     
            
    a.btn.btn.btn-sm.btn-primary.mr-2(href='patientrecord.html')  Back
    a.btn.btn.btn-sm.btn-primary.mr-2(onclick='pdf()')  Print PDF
    //a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries
    //a#submit.btn.btn.btn-sm.btn-primary Submit Entries
    //input(type='button', onclick='tableToJson()', value='Submit Entries')
    input.btn.btn.btn-sm.btn-primary.mr-2(type='button', onclick='addRow()', value='Add Row')
