//p= prev_link
//p= next_link

form.form-horizontal
    fieldset
        // Form Name
        h4 Scottish Thistle Care Facility
        // Text input
        .form-group
          label.col-md-4.control-label(for='Username') Login with your username
          |   
          |   
          .col-md-5
            input#username.form-control.input-md(name='Username', type='text',aria-describedby="emailHelp", placeholder='Enter your username', required='',autocomplete='off')
          
        // Text input
        .form-group
          label.col-md-4.control-label(for='password') Password
          |   
          |   
          .col-md-4
            input#password.form-control.input-md(name='password', type='password',aria-describedby="Password", placeholder='Enter your password',autocomplete='off')
         
a.btn.btn-primary(onclick='login()')  log in
br
a(href='') Contact Support
a(href='',onclick='loginInfo()') Forgot password
