h3 Messageboard
//- .form-group.row
//-   label.col-2.col-form-label(for='example-datetime-local-input') From date
//-   .col-10
//-     input#example-datetime-local-input.form-control(type='datetime-local', value='2011-08-19T13:45:00')
form.form-inline
  label(for='inlineFormInput') From date: 
   input#inlineFormInput.form-control.mb-2.mr-sm-2.mb-sm-0(type='date')
  label(for='inlineFormInputGroup') To date:
  .input-group.mb-2.mr-sm-2.mb-sm-0
    .input-group-addon 
    input#inlineFormInputGroup.form-control(type='date')
    button.btn.btn-primary(type='submit') Submit
  input#inlineRadio1.form-check-input(type='radio', name='inlineRadioOptions', value='option1')
  |  All
  input#inlineRadio2.form-check-input(type='radio', name='inlineRadioOptions', value='option2')
  |  Roles
  input#inlineRadio3.form-check-input(type='radio', name='inlineRadioOptions', value='option3')
  |  Individuals
  input#inlineCheckbox1.form-check-input(type='checkbox', value='option1')
  |  Unread only 
a.btn.btn-primary(href='#') New
a.btn.btn-primary(href='#') Mark all as read
br
br
// Table
table#tablePreview.table.table-striped.table-hover
  // Table head
  thead
    tr
      
      th Mark as read
      th Name
      th Subject
      th Date
      th Time
  // Table head
  // Table body
  tbody
    tr.accordion-toggle(data-toggle='collapse', data-target='#demo1')
      
      td.custom-control.custom-checkbox
        input#customCheck1.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck1') 
      td John
      td @mdo
      td 2 Jul 2019
      td 16:14:20
    tr
      td.hiddenRow(colspan='6')
        #demo1.accordian-body.collapse  Demo Message
    tr.accordion-toggle(data-toggle='collapse', data-target='#demo2')
    
      td.custom-control.custom-checkbox
        input#customCheck2.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck2') 
      td Sam
      td @fat
      td 2 Jul 2019
      td 16:14:20
    tr
      td.hiddenRow(colspan='6')
        #demo2.accordian-body.collapse  Demo Message
     
    tr
    
      td.custom-control.custom-checkbox
        input#customCheck3.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck3')  
      td Bird
      td @twitter
      td 2 Jul 2019
      td 16:14:20
      
  // Table body
// Table

a.btn.btn-primary(href='foodrecord.html')  Add New