h1 Messageboard
.form-group.row
  label.col-2.col-form-label(for='example-datetime-local-input') From date
  .col-10
    input#example-datetime-local-input.form-control(type='datetime-local', value='2011-08-19T13:45:00')
