legend Patient Record

#accordion
  .card
    #headingOne.card-header
      h5.mb-0
        a.btn.btn-link(href='foodrecord.html', aria-expanded='true', aria-controls='collapseOne')
          | Food & Fluids
  .card
    #headingTwo.card-header
      h5.mb-0
        a.btn.btn-link.collapsed(href='continence.html', aria-expanded='false', aria-controls='collapseTwo')
          | Continence
  .card
    #headingThree.card-header
      h5.mb-0
        a.btn.btn-link.collapsed(href='personalcare.html', aria-expanded='false', aria-controls='collapseThree')
          | Personal Care
  .card
    #headingThree.card-header
      h5.mb-0
        a.btn.btn-link.collapsed(href='abbeyscale.html', aria-expanded='false', aria-controls='collapseThree')
          | Abbey Scale
