.content
  .push.mt-5
  .container.p-5.mb-5.page.rounded-lg
    #error-message 
    legend Personal Care
    
     table(role='table')#tablePreview.table.table-striped.table-hover
      thead(role='rowgroup')
        tr(role='row')
          th(role='columnheader') Date
            i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Select the large triangle to open the calendar and use today’s date.')
          th(role='columnheader') Time  
            i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Select the hours or minutes input ')
          th(role='columnheader') ADL
            i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Check the Activities of Daily Living performed')
          th(role='columnheader') Comments
            i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Include any additional information or changes to the care plan')
          th(role='columnheader') Role
            i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='This uses your login details to fill automatically ')
      tbody.personal(role='rowgroup')#tableToModify
        tr(role='row')#rowToClone
          td(role='cell')
            input.personalcare.form-control.form-control-sm(type='date', placeholder='yyyy/mm/dd',min="1990-01-01", max="2040-12-31")
          td(role='cell')
            input#time.personalcare.form-control.form-control-sm(type='text',pattern="\d{1,2}:\d{1,2}",maxlength="5", name='time' placeholder='HH:MM',min='00:00',max='23:00',required="required")
          td(role='cell')
            select.testselect2.personalcare.SlectBox(multiple='multiple', data-live-search='true',name='test[]')
                option(value='Shower') Shower
                option(value='Wash') Wash
                option(value='Hair washed') Hair Washed
                option(value='Oral care') Oral care
                option(value='Shave') Shave
                option(value='Fingernails') Fingernails
                option(value='Toenails') Toenails
                option(value='Trolley bath') Trolley bath
                option(value='Moisturizer') Moisturizer

          td(role='cell')
            textarea.personalcare(name='story',rows="3",cols='33')

          td(role='cell')
            input.personalcare.form-control.form-control-sm(type='text',name='role' value='PCA')

    a.btn.btn.btn-sm.btn-primary.mr-2(href='patientrecord.html')  Back
    i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='go back to the Patient document page')
    a.btn.btn.btn-sm.btn-primary.mr-2(onclick='checkInputPC()') Save to PDF
    i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Prints the information you recorded into a document')
    
    //a#submit.btn.btn.btn-sm.btn-primary(href='foodrecord.html')  Submit Entries
    //- input(type='button', onclick='tableToJson()', value='Submit Entries')
    input.btn.btn.btn-sm.btn-primary.mr-2(type='button', onclick='addRows()', value='Add Row')
    i.fas.fa-question-circle.btn( data-toggle="popover",data-popover-type="singleton",data-placement="top",title='Creates another row if you are recording more than one meal')
