doctype html
html.no-js(lang='zxx')
  head
    // Mobile Specific Meta
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon', href='img/fav.png')
    // Author Meta
    meta(name='author', content='colorlib')
    // Meta Description
    meta(name='description', content='')
    // Meta Keyword
    meta(name='keywords', content='')
    // meta character set
    meta(charset='UTF-8')
    // Site Title
    title MediGord
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
    //
      CSS
      =============================================
    link(rel='stylesheet', href='css/linearicons.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/nice-select.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/jquery-ui.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    link(rel='stylesheet', href='css/main.css')
  body
    header#header
      .header-top
        .container
          .row.align-items-center
            .col-lg-6.col-sm-6.col-4.header-top-left.no-padding
              a(href='index.html')
                img(src='img/logo.png', alt='', title='')
            .col-lg-6.col-sm-6.col-8.header-top-right.no-padding
              a.btns(href='tel:+953 012 3654 896') +61 012 3654 896
              a.btns(href='mailto:support@medigord.com') support@medigord.com
              a.icons(href='tel:+953 012 3654 896')
                span.lnr.lnr-phone-handset
              a.icons(href='mailto:support@medigord.com')
                span.lnr.lnr-envelope
      .container.main-menu
        .row.align-items-center.justify-content-between.d-flex
          .menu-social-icons.pb-4
    // #header
    // start banner Area
    // End banner Area
    section
    // Start open-hour Area
    section.open-hour-area.mt-5.mb-5
      .container.mt-5.pt-5
        .row.justify-content-center.mt-5
          .col-12.col-md-6
            img.img-fluid.rounded(src='img/leaves.jpg')
          .col-12.col-md-6.pb-2
            h2.h3 Scottish Thistle Care Facility
            form.pt-2
              .form-group
                label(for='exampleInputEmail1') Login with your username
                input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
              .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', placeholder='Password')
              a.btn.btn-dark(href='form.html') Login
    // End open-hour Area
    // Start service Area
    // End blog Area
    // start footer Area
    footer.footer-area.section-gap
      .container
        .row
          .col-lg-6.col-md-6
            .single-footer-widget
              h6 Care documentation delivery
              ul.footer-nav
                li
                  a(href='#')
                li
                  a(href='#') Manage your account
                li
                  a(href='#') Contact a supervisor
                li
                  a(href='#') Policy Documentation
                li
                  a(href='#') Messageboard
          .col-lg-6.col-md-6
            .single-footer-widget.mail-chimp
              h6.mb-20 Contact Us
              p
                | Building 11, 127 Latrobe Street, Melbourne
              h3 +61-568-9746
              h3 +61-568-97468
        .row.footer-bottom.d-flex.justify-content-between
          p.col-lg-8.col-sm-12.footer-text.m-0
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright © MediGord
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved
          .col-lg-4.col-sm-12.footer-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-dribbble
            a(href='#')
              i.fa.fa-behance
    // End footer Area
    script(src='js/vendor/jquery-2.2.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
    script(src='js/easing.min.js')
    script(src='js/hoverIntent.js')
    script(src='js/superfish.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/jquery-ui.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.nice-select.min.js')
    script(src='js/mail-script.js')
    script(src='js/main.js')
